<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <title>App</title>
</head>

<body>
   <div>
      <h1>Користувач успішно активований</h1>
      <h2>телефон: {{phone}}, ел.адреса: {{mail}}</h2>
   </div>
</body>

</html>